In [19]:
import turicreate as tc
import numpy as np
import pandas as pd
import sklearn.model_selection as sk_ms

## Prepare Data for Recommender

In [23]:
r_cols = ['rating_id', 'dish_id', 'user_id', 'rating', 'review']

ratings = pd.read_csv('rating.csv', sep=',', names=r_cols, encoding='latin-1')

In [24]:
ratings.head()

   rating_id  dish_id  user_id  rating   review
0  rating_id  dish_id  user_id  rating  review
1          1       35        1       4      NaN
2          2       12        1       4      NaN
3          3       50        1       2      NaN
4          4        4        1       3      NaN

In [34]:
#ratings = ratings.drop(0, axis=0)
ratings = ratings.drop(['rating_id','review'], axis=1)
ratings.head()

  dish_id user_id rating
1      35       1      4
2      12       1      4
3      50       1      2
4       4       1      3
5       9       1      3

In [46]:
ratings['dish_id'] = ratings['dish_id'].astype(int)
ratings['user_id'] = ratings['user_id'].astype(int)
ratings['rating'] = ratings['rating'].astype(int)

In [47]:
rating_train, rating_test = sk_ms.train_test_split(ratings, test_size=0.2, random_state=42, shuffle=True)

In [48]:
rating_train.head()

    dish_id  user_id  rating
37       46        4       3
32       27        4       5
9        14        1       3
18       27        2       1
7        44        1       1

In [49]:
rating_test.head()

    dish_id  user_id  rating
1        35        1       4
6        39        1       0
35       46        4       1
14       34        2       2
45       15        5       4

## Put Data into Turicreate Popularity Recommender

In [50]:
rating_train.shape, rating_test.shape

((46, 3), (12, 3))

In [51]:
train_data = tc.SFrame(rating_train)
test_data = tc.SFrame(rating_test)

In [52]:
popularity_model = tc.popularity_recommender.create(train_data, user_id='user_id', item_id='dish_id', target='rating')

Preparing data set.

    Data has 46 observations with 6 users and 26 items.

    Data prepared in: 0.027237s

46 observations to process; with 26 unique items.

In [54]:
popularity_recomm = popularity_model.recommend(users=[6],k=2)
popularity_recomm.print_rows(num_rows=30)

+---------+---------+-------+------+
| user_id | dish_id | score | rank |
+---------+---------+-------+------+
|    1    |    33   |  5.0  |  1   |
|    1    |    36   |  5.0  |  2   |
|    1    |    47   |  4.2  |  3   |
|    1    |    34   |  4.0  |  4   |
|    1    |    46   |  4.0  |  5   |
|    2    |    33   |  5.0  |  1   |
|    2    |    36   |  5.0  |  2   |
|    2    |    47   |  4.2  |  3   |
|    2    |    12   |  4.0  |  4   |
|    2    |    34   |  4.0  |  5   |
|    3    |    33   |  5.0  |  1   |
|    3    |    36   |  5.0  |  2   |
|    3    |    12   |  4.0  |  3   |
|    3    |    34   |  4.0  |  4   |
|    3    |    46   |  4.0  |  5   |
|    4    |    33   |  5.0  |  1   |
|    4    |    36   |  5.0  |  2   |
|    4    |    47   |  4.2  |  3   |
|    4    |    12   |  4.0  |  4   |
|    4    |    50   |  3.5  |  5   |
|    5    |    12   |  4.0  |  1   |
|    5    |    34   |  4.0  |  2   |
|    5    |    50   |  3.5  |  3   |
|    5    |    38   |  3.5  |  4   |
|    5    |    15   |  3.0  |  5   |
+---------+---------+-------+------+
[25 rows x 4 columns]

## Convert Data into correct CSV format for Mongo