In [1]:
import turicreate as tc
import numpy as np
import pandas as pd
import sklearn.model_selection as sk_ms

## Prepare Data for Recommender

In [2]:
r_cols = ['rating_id', 'dish_id', 'user_id', 'rating', 'review']

ratings = pd.read_csv('survey_ratings.csv', sep=',', names=r_cols, encoding='latin-1')

In [3]:
ratings.shape

(361, 5)

In [4]:

ratings = ratings.drop(['rating_id','review'], axis=1)

In [5]:
ratings = ratings.drop(0, axis=0)

In [6]:
ratings

    dish_id user_id rating
1         1      37      3
2         1      10      1
3         1       5      5
4         1      43      5
5         1      48      5
..      ...     ...    ...
356       8      28      3
357       8      45      5
358       8      37      4
359       8       1      5
360       8      10      1

[360 rows x 3 columns]

In [7]:
ratings = ratings.dropna(axis=0, how='any')

In [8]:
ratings.shape

(247, 3)

In [10]:
ratings['dish_id'] = ratings['dish_id'].astype(str)
ratings['user_id'] = ratings['user_id'].astype(str)
ratings['rating'] = ratings['rating'].astype(int)

<ipython-input-10-77a816234839>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings['rating'] = ratings['rating'].astype(int)

In [11]:
ratings.shape

(247, 3)

In [12]:
rating_train, rating_test = sk_ms.train_test_split(ratings, test_size=0.2, random_state=42, shuffle=True)

In [13]:
rating_train.shape

(197, 3)

In [14]:
rating_test.head()

    dish_id user_id  rating
34        1      26       4
7         1       8       3
266      40       6       3
120      24      46       5
227      34      44       3

## Put Data into Turicreate Popularity Recommender

In [15]:
rating_train.shape, rating_test.shape

((197, 3), (50, 3))

In [16]:
train_data = tc.SFrame(rating_train)
test_data = tc.SFrame(rating_test)

In [17]:
popularity_model = tc.popularity_recommender.create(train_data, user_id='user_id', item_id='dish_id', target='rating')

Preparing data set.

    Data has 197 observations with 35 users and 10 items.

    Data prepared in: 0.007774s

197 observations to process; with 10 unique items.

## Basic Popularity Model

In [18]:
popularity_recomm = popularity_model.recommend(users=[1, 2, 3, 4],k=5)
popularity_recomm.print_rows(num_rows=30)

+---------+---------+--------------------+------+
| user_id | dish_id |       score        | rank |
+---------+---------+--------------------+------+
|    1    |    8    | 4.105263157894737  |  1   |
|    1    |    14   | 3.736842105263158  |  2   |
|    1    |    40   |       3.6875       |  3   |
|    1    |    7    | 3.6315789473684212 |  4   |
|    1    |    13   | 3.3529411764705883 |  5   |
|    2    |    8    | 4.105263157894737  |  1   |
|    2    |    1    |        3.92        |  2   |
|    2    |    14   | 3.736842105263158  |  3   |
|    2    |    40   |       3.6875       |  4   |
|    2    |    13   | 3.3529411764705883 |  5   |
|    4    |    14   | 3.736842105263158  |  1   |
|    4    |    33   | 3.6956521739130435 |  2   |
|    4    |    40   |       3.6875       |  3   |
|    4    |    34   |        3.64        |  4   |
|    4    |    7    | 3.6315789473684212 |  5   |
+---------+---------+--------------------+------+
[15 rows x 4 columns]

## Collaborative Filtering Model

In [128]:
item_sim_model = tc.item_similarity_recommender.create(train_data, user_id='user_id', item_id='dish_id', target='rating', similarity_type='cosine')

Preparing data set.

    Data has 197 observations with 35 users and 10 items.

    Data prepared in: 0.003954s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 581us                          | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 969us                               | 6                | 0               |

| 1.517ms                             | 100              | 10              |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.003728s

In [138]:
#Making recommendations
item_sim_recomm = item_sim_model.recommend(users=[29],k=5)
item_sim_recomm.print_rows(num_rows=30)

+---------+---------+--------------------+------+
| user_id | dish_id |       score        | rank |
+---------+---------+--------------------+------+
|    29   |    13   | 2.6582900981108346 |  1   |
|    29   |    33   | 2.6209438741207123 |  2   |
|    29   |    24   | 2.5047987202803292 |  3   |
|    29   |    7    | 2.371861050526301  |  4   |
+---------+---------+--------------------+------+
[4 rows x 4 columns]

## Convert Data into correct CSV format for Mongo

liam prevelige
- fried buttermilk chicken sandwhich
- margherita pizza at molly's
- baked fish tacos murphys 
- pad see ew at tuk tuk 






june kim 2/5 
- margherita pizza at molly's
- murph burger at murphys
- peperoni pizza at mollys 
- baked fish tacos murphys 
- pad see ew at tuk tuk

adam 5/5
- the murph burger at murphys 
- steak tacos at mollys 
- pepperoni pizza at mollys
- fried buttermilk chicken sandwhich at murphys 
- pad see ew at tuk tuk thai 


chait  1/5
- half pound burger at mollys 
- The Margherita at mollys
- the murph burger at murphys 
- baked fish tacos at murphys
- cripsy chicken fried rice at tuk tuk 


connor 1/2
- margarita pizza at mollys 
- steak tacos 

crawford
- half pound burger at mollys
- steak tacos at mollys
- fried buttermilk chicken sandwhich at murphys 
- cripsy chicken fried rice at tuk tuk thai
- pepperoni pizza at molly's